*{
    box-sizing: border-box;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

section{
    border: 1px solid aqua;
    background-color: aliceblue;
}
body{
    background-color: red;
}
