*{
    box-sizing: border-box;
}

main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

main section{
    background-color: aquamarine;
    border: 3px solid rgb(36, 123, 94);
    padding: 0.8rem;
}

main section h2{
    margin: 0;
}

main section.grid-col-span-2{
    background-color: aqua;
    border-color: rgb(11, 137, 137);
    grid-column: span 2;
}

main section.grid-row-span-2{
    background-color: rgb(141, 172, 251);
    border-color: rgb(49, 60, 190);
    grid-row: span 2;
}